.backButton {
  border: 0;
  appearance: none;
  display: inline-block;
  padding: .3rem;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 16px solid #000;
    border-bottom: 8px solid transparent;
    display: block;
    margin-right: 5px;
    float: left;
  }
}