@import '../../../scss/colors';

.card {
  margin: 0;
  border-radius: 10px;
  overflow: hidden;
  background: $base;
  color: $box-text;
  input {
    border-color: $box-text;
    color: $box-text;
  }
}
