@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import 'colors';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
  background-color: #ffffff;
  background: radial-gradient(circle at top left, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 100%);
  color: #000;
  min-height: 100vh;
}

h1,h2,h3 {
  font-weight: 500;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.relative {
  position: relative;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem 1rem;
}

button {
  font-family: 'Roboto', sans-serif;
}

label {
  font-weight: 700;
  text-transform: uppercase;
}

hr {
  border-top: 0;
}

input,
textarea {
  width: 100%;
  font: inherit;
  background: transparent;
  padding: .5rem;
  font-size: 1rem;
  appearance: none;
  border: 0;
  border-bottom: 1px solid #000;
  border-radius: 0;
  display: block;
}

input:focus,
textarea:focus {
  outline: none;
}

.card {
  margin: 0;
  border-radius: 10px;
  overflow: hidden;
  background: $base;
  color: $box-text;
  input {
    border-color: $box-text;
    color: $box-text;
  }
}

@media screen and (min-width: 768px) {
  .content {
    padding: 1.5rem 2rem;
  }
  input,
  textarea {
    padding: .5rem 1rem;
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1200px) {
  .content {
    padding: 1.5rem 0;
  }
}