.customer-form {
  list-style: none;
  margin: 0 auto;
  width: 90%;
}

.h1 {
  font-size: 2em;
  font-weight: 500;
  border: 0;
  text-align: center;
  margin-bottom: 1rem;
}

.inputTitle {
  border-bottom: 1px solid transparent;
  &:focus {
    border-color: #000;
  }
}

.price {
  text-align: center;
  font-size: 4rem;
  width: 140px;
  margin: 0 auto;
  padding: .5rem 0;
  display: inline-block;
  + span {
    font-size: 2rem;
  } 
}

.labels {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  label {
    margin: 0 3rem 0 1.5rem;
  }
}

.fields {
  display: flex;
  margin-bottom: 1.5rem;
  input {
    margin: 0 .5rem;
    &[type='number'] {
      max-width: 100px;
      text-align: center;
      font-weight: 700;
    }
  }
}

.invoice {
  max-width: 100px;
  display: inline;
}

.fadeIn {
  opacity: 1;
  animation: fadeIn 2s ease;
}

@keyframes fadeIn {
  0% {
    pointer-events: none;
    opacity: 0;
  }
  100% {
    pointer-events: auto;
    opacity: 1;
  }
}