@import '../../scss/colors';

.customer-form {
  list-style: none;
  margin: 0 auto;
}

.project-content {
  margin: 0 auto;
  .sidebar {
    position: static;
    margin-bottom: 1rem;
  }
}

.add-task {
  margin-bottom: 1rem;
}

.h1 {
  font-size: 2em;
  font-weight: 500;
  border: 0;
  text-align: center;
  margin-bottom: 1rem;
}

.inputTitle {
  border-bottom: 1px solid transparent;
  &:focus {
    border-color: $base;
  }
}

.price {
  text-align: center;
  font-size: 4rem;
  width: 140px;
  margin: 0 auto;
  padding: .5rem 0;
  display: inline-block;
  + span {
    font-size: 2rem;
  } 
}

.labels {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  label {
    margin: 0 3rem 0 1.5rem;
  }
}

.fields {
  display: flex;
  margin-bottom: 1.5rem;
  padding-right: 2.5rem;
  position: relative;
  input {
    margin: 0 .5rem;
    &[type='number'] {
      max-width: 35px;
      text-align: center;
      font-weight: 700;
      padding: .5rem 0;
    }
  }
  .del {
    padding: .5rem;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    svg {
      fill: $base;
      width: 22px;
      height: 22px;
    }
  }
}

.invoice {
  max-width: 100px;
  display: inline;
}

.edit-title {
  &:hover {
    input {
      border-bottom: 1px solid #000;
    }
  }
}

.fadeIn {
  opacity: 1;
  animation: fadeIn 2s ease;
}

@keyframes fadeIn {
  0% {
    pointer-events: none;
    opacity: 0;
  }
  100% {
    pointer-events: auto;
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .fields {
    input {
      &[type='number'] {
        max-width: 100px;
        padding: .5rem 1rem;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .project-content {
    margin: 0;
    width: 100%;
    max-width: 700px;
    .sidebar {
      position: fixed;
    }
  }
}

@media screen and (min-width: 1300px) {
  .project-content {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1600px) {
  .project-content {
    max-width: none;
  }
}