.customer-form {
  list-style: none;
}

.h1 {
  font-size: 2em;
  font-weight: 500;
  border: 0;
  text-align: center;
  margin-bottom: 1rem;
}

.inputTitle {
  border-bottom: 1px solid transparent;
  &:focus {
    border-color: #000;
  }
}

.price {
  text-align: center;
  font-size: 4rem;
  width: 140px;
  margin: 0 auto;
  padding: .5rem 0;
}

.labels {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  label {
    margin: 0 3rem 0 1.5rem;
  }
}

.fields {
  display: flex;
  margin-bottom: 1.5rem;
  input {
    margin: 0 .5rem;
    &[type='number'] {
      max-width: 100px;
      text-align: center;
      font-weight: 700;
    }
  }
}