.main-header {
  position: fixed;
  left: 2rem;
  top: 2rem;
  z-index: 9;
}

.sidebar {
  position: fixed;
  right: 2rem;
  top: 2rem;
  z-index: 9;
  text-align: right;
  h2, h3, h4 {
    padding-right: 1rem;
  }
}