.main-header {
  position: absolute;
  left: 2rem;
  top: 2rem;
  z-index: 9;
}

.sidebar {
  position: absolute;
  right: 2rem;
  top: 2rem;
  z-index: 9;
  text-align: right;
  &.card {
    padding: 2rem;
  }
  h2, h3, h4 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

@media screen and (min-width: 1400px) {
  .sidebar, .main-header {
    position: fixed;
  }
}