@import '../../../scss/colors';

.button {
  font: inherit;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  background: $base;
  &[hidden] {
    display: none;
  }
  a {
    color: $box-text;
    text-decoration: none;
  }
  &.outlined {
    border: 1px solid $box-text;
  }
}

.button:hover {

}

.button:focus {
  outline: 0;
}

.button--inverse {
  background: $background;
  color: $text;
}

.button--inverse:hover,
.button--inverse:active {
  color: $text;
  background: $background;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #2f2f2f;
  color: #979797;
  cursor: not-allowed;
}

.button--danger {
  background: rgb(209, 28, 12);
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}