.button {
  font: inherit;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  background: #000;
  &[hidden] {
    display: none;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
}

.button:hover {

}

.button:focus {
  outline: 0;
}

.button--inverse {
  background: transparent;
  color: #000;
}

.button--inverse:hover,
.button--inverse:active {
  color: #000;
  background: #fff;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #2f2f2f;
  color: #979797;
  cursor: not-allowed;
}

.button--danger {
  background: rgb(209, 28, 12);
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .button {
    margin-right: 1rem;
  }
}