@import '../../../scss/colors';

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px $background inset;
  transition: background-color 5000s ease-in-out 0s;
}

.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
}

.form-control--invalid label,
.form-control--invalid p {
  color: red;
  margin-top: .1rem;
}

.form-control--invalid input,
.form-control--invalid textarea {
  border-color: red;
}