.customer-item {
  margin: 1rem 0;
  list-style: none;
}

.customer-item__content {
  padding: 0;
  a {
    color: #fff;
    text-decoration: none;
  }
}

.customer-item__info, .customer-item__details {
  padding: 1rem;
}

.customer-item__info {
  background: #262626;
}

.customer-item__details p {
  margin: 0 0 0.5rem 0;
}

.customer-item__info h2 {
  margin: 0;
}

.customer-item__action {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}