.user-item {
  display: block;
  width: 100%;
  h2 {
    display: flex;
    margin: 0.5rem 0 0;
    padding: 0 0 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid #555;
    label {
      font-weight: 100;
      min-width: 35%;
    }
  }
}

.user-item__image {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.user-item__info {
  padding: 20px;
}

.user-item__info h2 {
  font-size: 0.875rem;
  font-weight: normal;
}

.user-item__info h3 {
  margin: 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  a {
    margin-top: 0.5rem;
  }
}

@media screen and (min-width: 768px) {
  .flex {
    margin-top: 1rem;
    flex-wrap: no-wrap;
    a {
      margin-top: 0;
    }
  }
  .user-item__info h2 {
    font-size: 1.5rem;
  }
  .user-item h2 label {
    min-width: 300px;
  }
}
