.user-item {
  margin: 1rem;
  display: block;
  width: 100%;
  h1, h2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 0 .5rem;
    white-space: nowrap;
    overflow: hidden;
    label {
      font-weight: 100;
      margin-right: 1.5rem;
    }
  }
}

.user-item__image {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.user-item__info {
  padding: 20px;
}

.user-item__info h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

.user-item__info h3 {
  margin: 0;
}

.flex {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}